/* ----- Reset ----- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2rem;
    min-height: 100vh;
    color: #112B3C;
}

img,
picture {
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}

/* ----------------- */